# Don't track content of these folders
# Ignore pycache and pycharm config files for demo-simualtor.
neural_network_dev/simulator/0_benrules-realtime/.idea
neural_network_dev/simulator/0_benrules-realtime/__pycache__
neural_network_dev/simulator/2_benrules_v2/0_modified_sim_before_use/.idea
neural_network_dev/simulator/2_benrules_v2/0_modified_sim_before_use/__pycache__
neural_network_dev/simulator/1_Attempt at nbody sim/nBody-master/.idea
neural_network_dev/simulator/1_Attempt at nbody sim/nBody-master/__pycache__


# ignore PyCharm config in demo simulator
0_demo-sim/.idea
0_demo-sim/__pycache__
0_demo-sim/neural_body/__pycache__

# Ignore data output and input directories
neural_network_dev/simulator/2_benrules_v2/0_modified_sim_before_use/output/
neural_network_dev/simulator/2_benrules_v2/0_Data_Generation_Notebooks/input_data/
neural_network_dev/simulator/2_benrules_v2/0_modified_sim_before_use/computed_data/
neural_network_dev/simulator/2_benrules_v2/0_Data_Generation_Notebooks/output/
neural_network_dev/simulator/2_benrules_v2/0_modified_sim_before_use/sim_cache/


# Compiled source #
###################


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods

